.info {
  padding: 5vw;
  text-align: right;
  h1 {
    text-align: left;
    margin-bottom: 100px;
  }
  &-content {
    font-size: 1.5vw;
    white-space: pre;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: start;
    align-content: start;
    text-align: center;
    img {
      height: 10vw;
    }
  }
  &-sub {
    margin-top: 100px;
    text-align: right;
    font-size: 1.5vw;
  }
  &-button {
    margin-top: 20px;
    font-size: 1.5vw;
    > a {
      text-decoration: none;
      color: var(--es_white);
      background: var(--es_green);
      padding: 10px 20px;
    }
  }
}
@media (max-width: 1025px) {
  .info {
    &-content {
      font-size: 3vw;
    }
    &-sub {
      font-size: 3vw;
    }
    &-button {
      font-size: 3vw;
    }
  }
}