.transition {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  &-history-anchor {
    margin-top: 70vh;
  }
}
@media (max-width: 1025px) {
  .transition {
    height: 40vh;
    &-history-anchor {
      margin-top: 20vh;
    }
  }
}